/*$red: #F0896E;*/

$green: #86CB92;
$blue: #7BDFF2;
$yellow: #FAFF7F;
/*$orange: #E67E22;*/

$gray: #555;
$light-gray: #ddd;
$dark: #333;

/*gradients*/

$green-gradient: linear-gradient(60deg, #86CB92 9.83%, #569961 90.54%);
$blue-gradient: linear-gradient(60deg, #7BDFF2 11.99%, #3BAABF 91.99%);
$yellow-gradient: linear-gradient(60deg, #E0E65C 0%, #FAFF7F 100%);
$dark-gradient: linear-gradient(60deg, #333333 0%, #555555 100%);
$light-gradient: linear-gradient(60deg, #DDDDDD 0%, #F8F8F8 100%);
