.hero-home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32vh;
}

.animation-ease-out {
  margin-bottom: 16vh;
  animation: hero-ease_out .8s ease-out;
  max-width: 800px;
}

/*-------------------------------------------
-------------- projects container -----------
--------------------------------------------*/

.home-projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8vh;
}

.home-projects__title {
  display: flex;
  align-items: center;
  margin: 4vh 0;

  h2 {
    margin-left: -40px;
  }

  img {
    width: 80px;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 32px;

}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

   &:hover .project-image  {
    opacity: 1;
  }
}

.project-image {
  object-fit: fill;
  width: 100%;
  margin: 60px auto 0 auto;
  opacity: .6;
  z-index: -1;
  transition: .3s ease;
}

.project-card {
  margin: -76px auto 0 auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 32px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .3s ease;

  &:hover {
    background-color: #FAFF7F;
    color: #fafafa;
  }

  &:active {
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.04);
  }
}

.project-logo {
  object-fit: fill;
  width: 160px;
}

.project-logo__small {
  width: 100px;
}

.project-logo__med {
  width: 140px;
}

.project-chevron {
  margin-left: auto;
  width: 40px;
}

/*-------------------------------------------
--------------- designs container -----------
--------------------------------------------*/

.home-designs{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.designs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.design-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 4vh 0;
}

.header_img {
  width: 80%;
  background-color: rgba(134, 203, 146, .4);
  max-width: 820px;
  min-height: 320px;
  border-radius: 6px;

  h3 {
    margin-top: -24px;
    margin-left: 12px;
  }

  img {
    max-width: 360px;
    max-height: 320px;
    object-fit: cover;
    margin: 60px 80px;
  }
}


.header_img__inv {
  width: 80%;
  margin-left: auto;
  background-color: rgba(123, 223, 242, .4);
  max-width: 820px;
  min-height: 320px;
  border-radius: 6px;


  h3 {
    margin-top: -24px;
    margin-left: 12px;

  }

  img {
    max-width: 360px;
    max-height: 320px;
    object-fit: cover;
    margin: 60px 80px;

  }
}

.design-content {
  width: 80%;
  margin-left: auto;
  margin-top: -40px;

  p {
    margin-bottom: 24px;
  }
  a {
    font-size: 21px;
    color: #555;
    font-weight: 400;
  }
  img{

    width: 22px;
    margin-bottom: -6px;
    margin-left: 2px;
  }

  &:hover img {


  }


}





.design-content__inv {
  width: 80%;
  margin-top: -40px;
  p {
    margin-bottom: 24px;
  }
  a {
    font-size: 21px;
    color: #555;
    font-weight: 400;
  }
  img{
    width: 22px;
    margin-bottom: -6px;
    margin-left: 2px;
  }
}













@keyframes hero-ease_out{
  0%{opacity: 0; margin-top:-20px;};
  30%{opacity: 0; margin-top:-20px;};
  100%{opacity: 1}
}


@media (max-width: 759.9px) {
  .animation-ease-out{
    margin-bottom: 16vh;

  }
}

@media (min-width: 760px) and (max-width: 1019.9px) {
  .hero-home {
    margin-top: 36vh;
  }
  .animation-ease-out{
    margin-bottom: 12vh;
    width: 740px;
  }

  .project-image {
  width: 320px;
  margin: 40px auto 0 auto;
  }

}



@media (min-width: 1020px) and (max-width: 1279.9px) {
  .animation-ease-out {
    margin-left: 4vw;
    width: 800px;
  }

  .header_img {
    width: 60%;
  }
  .header_img__inv {
    width: 60%;
  }
  .design-content {
    width: 60%;
  }
  .design-content__inv {
    width: 60%;
    margin-left: 20%;
  }

}

@media screen and (min-width: 1280px) {
  .hero-home {
    margin-top: 40vh;
  }
  .animation-ease-out{
    margin-left: 1vw;
    margin-bottom: 14vh;
  }
  .header_img {
    width: 60%;
  }
  .header_img__inv {
    width: 60%;
  }
  .design-content {
    width: 60%;
    margin-left: 20%;
  }
  .design-content__inv {
    width: 60%;
    margin-left: 20%;
  }
}




