.hero-home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 42vh;
}

.animation-ease-out {
  margin-bottom: 36vh;
  animation: hero-ease_out .8s ease-out;
  max-width: 800px;
}

/*-------------------------------------------
-------------- projects container -----------
--------------------------------------------*/

.home-projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8vh;
}

.home-projects__title {
  display: flex;
  align-items: center;
  margin: 4vh 0;

  h2 {
    margin-left: -40px;
  }

  img {
    width: 80px;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 32px;

}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;

   &:hover .project-image  {
    opacity: 1;
  }
}

.project-image {
  object-fit: fill;
  width: 100%;
  margin: 60px auto 0 auto;
  opacity: .6;
  z-index: -1;
  transition: .3s ease;
}

.project-card {
  margin: -76px auto 0 auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 32px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .3s ease;

  &:hover {
    background-color: #FAFF7F;
    color: #fafafa;
  }

  &:active {
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.04);
  }
}

.project-logo {
  object-fit: fill;
  width: 160px;
}

.project-logo__small {
  width: 100px;
}

.project-logo__med {
  width: 140px;
}

.project-chevron {
  margin-left: auto;
  width: 40px;
}

/*-------------------------------------------
--------------- designs container -----------
--------------------------------------------*/

.home-designs{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.designs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.design-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 4vh 0;
}

.header_img {
  width: 80%;
  background-color: rgba(134, 203, 146, .4);
  max-width: 820px;
  min-height: 320px;
  border-radius: 6px;

  h3 {
    margin-top: -24px;
    margin-left: 12px;
  }

  img {
    max-width: 360px;
    max-height: 320px;
    object-fit: cover;
    margin: 60px 80px;
  }
}


.header_img__inv {
  width: 80%;
  margin-left: auto;
  background-color: rgba(123, 223, 242, .4);
  max-width: 820px;
  min-height: 320px;
  border-radius: 6px;


  h3 {
    margin-top: -24px;
    margin-left: 12px;

  }

  img {
    max-width: 360px;
    max-height: 320px;
    object-fit: cover;
    margin: 60px 80px;

  }
}

.design-content {
  width: 80%;
  margin-left: auto;
  margin-top: -40px;

  p {
    margin-bottom: 24px;
  }

  a {
    font-size: 21px;
    color: #555;
    font-weight: 400;
  }

  img {
    width: 20px;
    margin-bottom: -4px;
  }



}


.design-content__inv {
  width: 80%;
  margin-top: -40px;
  p {
    margin-bottom: 24px;
  }
  a {
    font-size: 21px;
    color: #555;
    font-weight: 400;
  }
  img{
    width: 22px;
    margin-bottom: -6px;
    margin-left: 2px;
  }
}



/*--------------------------------------------
----------------- me container ---------------
---------------------------------------------*/


.home-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8vh;
}


.home-me__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me__text {
  p {
    margin-bottom: 2vh;
  }
}

.about-me__img-home {
  opacity: .4;
  width: 50%;
  margin-left: auto;
  margin-top: -2vh;
}

.chevron-link {
  font-size: 21px;
  color: #555;
  font-weight: 400;
  transition: .3s ease-out;

  .icon-chevron-stroke-right {
    fill: #555;
    stroke: #555;
  }

  .icon-chevron-stroke-right__vp {
    width: 16px;
    margin-bottom: -4px;
  }

  &:hover {
    color: #86CB92;

    .icon-chevron-stroke-right {
      fill: #86CB92;
      stroke: #86CB92;
    }
  }

  &:active {
    color: #7BDFF2;
    .icon-chevron-stroke-right {
      fill: #7BDFF2;
      stroke: #7BDFF2;
    }
  }

}

.about-me__container-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 16vh;
}


/*--------------------------------------------
---------------- work container --------------
---------------------------------------------*/
.home-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8vh;
}

.home-section__title {
  display: flex;
  align-items: center;
  margin: 4vh 0;

  h2 {
    margin-left: -40px;
  }

  img {
    width: 80px;
  }
}

.home-section__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, .5fr));
  grid-gap: 48px;
  display: flex;
  align-items: stretch;
}

.work-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.work-card__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px auto -64px auto;
  z-index: 10;
  width: 180px;
  height: 120px;

}

.work-card__text {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 64px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  box-sizing: content-box;
}

.work-card__title {
  margin-bottom: 1vh;
}

.secundary-text {
  margin-top: .4vh;
  color: #86CB92;
}

/*--------------------------------------------
------------- queries container --------------
---------------------------------------------*/



@keyframes hero-ease_out{
  0%{opacity: 0; margin-top:-20px;};
  30%{opacity: 0; margin-top:-20px;};
  100%{opacity: 1}
}


@media (max-width: 759.9px) {
  .animation-ease-out{
    margin-bottom: 36vh;
  }
}

@media (min-width: 760px) and (max-width: 1019.9px) {
  .hero-home {
    margin-top: 36vh;
  }
  .animation-ease-out{
    margin-bottom: 24vh;
    width: 740px;
  }

  .project-image {
    width: 320px;
    margin: 40px auto 0 auto;
  }


}



@media (min-width: 1020px) and (max-width: 1279.9px) {
  .animation-ease-out {
    margin-left: 4vw;
    width: 800px;
  }

  .header_img {
    width: 60%;
  }
  .header_img__inv {
    width: 60%;
  }
  .design-content {
    width: 60%;
  }
  .design-content__inv {
    width: 60%;
    margin-left: 20%;
  }
  .about-me__img-home {
    margin-top: -24vh;
    z-index: -10;
  }

  .home-section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

}

@media screen and (min-width: 1280px) {
  .hero-home {
    margin-top: 40vh;
  }
  .animation-ease-out{
    margin-left: 1vw;
    margin-bottom: 36vh;
  }
  .header_img {
    width: 60%;
  }
  .header_img__inv {
    width: 60%;
  }
  .design-content {
    width: 60%;
    margin-left: 20%;
  }
  .design-content__inv {
    width: 60%;
    margin-left: 20%;
  }
  .about-me__img-home {
    margin-top: -24vh;
    z-index: -10;
  }

  .home-section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


}




